    @import "tailwindcss";


    @theme {
        --color-*: initial;

        --color-sepia-950: #b78b67;
        /* slightly deeper base (optional) */
        --color-sepia-900: #cda882;
        --color-sepia-800: #d4b595;
        --color-sepia-700: #dcc1a7;
        --color-sepia-600: #e3ceb9;
        --color-sepia-500: #eadbcb;
        --color-sepia-400: #f0e4d9;
        --color-sepia-300: #f4ece5;
        --color-sepia-200: #f8f4f0;
        --color-sepia-100: #fbf9f5;
        --color-sepia-50: #fefdfb;
    }